<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SteamNotificationsTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <SteamNotificationsTray.Properties.Settings>
            <setting name="Credentials" serializeAs="String">
                <value />
            </setting>
            <setting name="InboxAvailableColor" serializeAs="String">
                <value>92, 126, 16</value>
            </setting>
            <setting name="InboxNoneColor" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="InboxNewColor" serializeAs="String">
                <value>158, 194, 29</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="NotificationPopupBackgroundColor" serializeAs="String">
                <value>59, 57, 56</value>
            </setting>
            <setting name="NotificationPopupBorderColor" serializeAs="String">
                <value>130, 128, 124</value>
            </setting>
            <setting name="NotificationInactiveColor" serializeAs="String">
                <value>191, 191, 191</value>
            </setting>
            <setting name="NotificationFocusColor" serializeAs="String">
                <value>33, 45, 61</value>
            </setting>
            <setting name="NotificationActiveColor" serializeAs="String">
                <value>112, 186, 36</value>
            </setting>
            <setting name="NotificationPopupSeparatorColor" serializeAs="String">
                <value>107, 104, 101</value>
            </setting>
            <setting name="AlwaysShowComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowInvites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowGifts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysShowOfflineMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowTradeOffers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowAsyncGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowModeratorMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowHelpRequestReplies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableBalloons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysShowAccountAlerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationCountColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="EnableAntiFlapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLinksOnBalloonClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamNotificationsTray.Properties.Settings>
    </userSettings>
</configuration>
